<div class="row">
  <div class="col-sm-10">
    <div class="card">
      <div class="card-header">
        <h1>Publie un Nouveau Plat</h1>

          <%= render 'form', food: @food %>
          <%= link_to 'Retour', foods_path %>
      </div>
    </div>
  </div>
</div>
