<!DOCTYPE html>
<html>
  <head>
    <title>Connectez-vous ici !</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <%= image_tag 'top.png', class: 'topimage' %>
          </div>
          <div class="col-sm-6">
            <div class="right-column text-center">
              <%= image_tag 'logo.png', class: 'SFSlogo' %>
                <p class="infos">
                  Bienvenu chez vous ! Veuillez cliquer sur acceuil pour commençer
                </p>
                <hr>
                <% if user_signed_in? %>
                <%= link_to "Démarrer", foods_path, class:'fs-15 btn btn-warning' %>
              <% else %>
<h2>Vous n'etes pas connecter</h2>
<% end %>
            </div>
          </div>
            <div class="topimage_r">
              <%= image_tag 'top.png', class: 'topimage_img' %>
              <p>
                Bienvenu chez vous ! Veuillez vous connecter et si vous n'avez pas encore un compte, c'est le moment d'en créer !
              </p>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
