/*
 *= require_tree .
 *= require_self
 */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Verdana', sans-serif;
}

.card
{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffe6;
  border: 1px solid;
  border-radius: 0.25rem;
  justify-content: center;
}

main
{
  width: 950px;
  margin: 0 auto;
  margin-top: 0px;
}

body
{
  background-color: #efe17c;
}

.hello
{
  text-align: center;
  margin-top: 60px;
  font-size: 1.2em;
  text-decoration: none;
}

/* -------------------- header ----------------------- */

header .logo
{
  position: relative;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: 600px;
  height: 45px;
}

header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  z-index: 10;
  background-color:	#0080ff;
  height: 50px;
}

header .navigation
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 7px 0;
  padding-left: 135px;
}

header .navigation li
{
  list-style: none;
  margin: 10px 5px;
}

header .navigation li a
{
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}

header .navigation li a:hover
{
  color: #ffeb3b;
}

header .search
{
  position: relative;
  width: 250px;
  height: 40px;
  left: 55px;
}

header .search input
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 0 10px 0 40px;
}

header .search input::placeholder
{
  color: #fff;
}

header .search .fa-solid
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #fff;
  border-right: 1px solid #fff;
  padding-right: 15px;
}

/* -------------------- fin header ----------------------- */

.container button
{
  position: relative;
  margin-top: 60px;
  border-radius: 7px;
  border: 1px solid #fff;
}

.banner
{
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 664px;
}

.banner .content
{
  max-width: 700px;
}

.banner .content h2
{
  font-size: 3em;
}

.banner .content p
{
  font-size: 1em;
}

.bground
{
  background-color: #B4AD0D;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.topimage
{
  margin-top: 5px;
  padding-top: 5px;
  height: 350px;
  float: right;
}

.row .topimage .infos
{
  font-weight: 10px;
  line-height: 20px;
  height: 400px;
  font-size: 20px;
  color: #000;
  margin: 10px;
}

.banner .infos
{
  font-size: 100px;
  color: #999;
}

.topimage_img
{
  height: 450px;
}
.container
{
  top: 15px;
  position: relative;
  margin: 0px 0px 0px 0px;
  width: 950px;
}

.container .share_box
{
  position: relative;
  margin-top: 25px;
}

.right-column
{
  background: #fff;
  border: 1px solid #e6e6e6;
  width: 500px;
  margin: 10px;
  padding: 40px;
}

.SFSlogo
{
  margin: 15px auto;
  height: 70px;
}

.right-column .infos
{
  font-weight: 10px;
  line-height: 20px;
  font-size: 20px;
  color: #000;
  margin: 0;
}

.googlelogo
{
  height: 40px;
}

.main_box
{
text-align: center;
}

.main_box table td .main_box_head
{
  text-align: left;
  padding:15px;
  border-bottom: 1px solid #DBDBDB;
}

.main_box table td .main_box_head .main_box_menu
{
  text-align: center;
}

.main_box_head
{

}

.main_box_img
{
  width: 40%;
}

.contributer_img
{
  width:44px;
  height:44px;
  margin-right:1px;
  border: 0.5px solid #DBDBDB;
  border-radius: 30px;
}

.contributer
{
  font-size:25px;
  color: black;

}

.icon_img
{
  width:23px;
  height:23px;
}

.alert
{
  width: 300px;
  height: 20px;
  padding: 0;
  margin-bottom: 0px;
  border: 1px solid;
  border-radius: 0.25rem;
}

.card
{
  left: 100px;
}

/* -------------------- footer ----------------------- */

.footer
{
  background-color: #0080ff;
  height: 30px;
  width: 100%;
  bottom: 0;
  display: table;
  position: fixed;
  margin-bottom: 0;
  right: 1px;
}

.footer p
{
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
